
html {
    font-family: "Cascadia Code";
    font-size: 18pt;
    background-color: #333;
    color: #fff;
    text-align: justify;
}

body {
    padding: 20px;
}

main {
    background-color: #555;
    border-radius: 15px;
    padding: 25px;
}



button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-family: "Cascadia Code";
    font-size: 17pt;
}

header {
    padding: 10px;
    margin: 20px;
    background-color: #000;
    top: 20px;
    position: sticky;
    border-radius: 10px;
}


ul {
    column-count: 2;
}

nav {
    background-color: #333;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    align-content: center;
    display: inline-block;
}

table {
    border-radius: 5px;
}

td {
    padding: 5px;
    text-align: center;
}

th {
    padding: 5px;
    text-align: center;
}

img.borderr {
    border-radius: 10px;
}

.headache {
    margin: 15px;
    text-decoration: none;
}

a {
    color: #fff;
}

a::after {
    color: #fff;
}

@font-face {
    font-family: "Cascadia Code";
    src: url("/font/CascadiaCode.ttf");
}