
html {
    font-family: "Cascadia Code";
    font-size: 18pt;
    background-color: #333;
    color: #fff;
    text-align: justify;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

h1 {
    text-align: center;
    margin-inline: 30px;
}


button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-family: "Cascadia Code";
    font-size: 17pt;
}

header {
    background-color: #000;
    position: sticky;
}

@font-face {
    font-family: "Cascadia Code";
    src: url("font/CascadiaCode.ttf");
}